
body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
h1{
    font-size: 3em;
}
.name{
    color: #D71526;
}
.main{
    display: flex;
    background-image: url(img/head-bg.png);
    background-repeat: no-repeat;
    padding-left:50px ;
}
.main p{
    text-align: justify;
}
.main-content{
    width:50%;
    padding: 20px;
    
}
.main-img{
    width: 50%;
    padding: 20px;

}

.main-img img{
    width: 80%;
    margin: 0 auto;
    margin-left: 50px;
}
.hire-btn{
    text-decoration: none;
    padding: 10px 30px;
   font-weight: 600;
    background-image: linear-gradient(#d75215,#ff3318);
    border-radius: 5px;
    
    color: aliceblue;
}
.main2{
    display: flex;
}
.hello-content{
    width: 50%;
    padding: 20px;
    padding-right: 120px;
}
.hello-content p{
    text-align: justify;
}
.main2{
    margin-top: 150px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}