
body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
h1{
    font-size: 3em;
}
.name{
    color: #D71526;
}
h3{
    color: coral;
}
.main{
    display: flex;
    background-image: url(img/head-bg.png);
    background-repeat: no-repeat;
    padding-left:50px ;
}

.main-content{
    width:50%;
    padding: 20px;
    
}
.main-img{
    width: 50%;
    padding: 20px;

}

.main-img img{
    width: 80%;
    margin: 0 auto;
    margin-left: 50px;
}
.hire-btn{
    text-decoration: none;
    padding: 10px 30px;
   font-weight: 600;
    background-image: linear-gradient(#d75215,#ff3318);
    border-radius: 5px;
    
    color: aliceblue;
}
.main2,.main3{
    display: flex;
    margin-bottom: 150px;
}
.hello-content{
    width: 50%;
    padding: 20px;
    padding-right: 120px;
}
p{
    text-align: justify;
}
.main2{
    margin-top: 150px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.main3{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ex-one,.ex-two{
    width: 50%;
    margin: 50px;
    box-shadow: 5px 5px 30px rgba(14, 14, 14, 0.87);
    padding: 0 20px 0 50px;

}
.ex{
    text-align: center;
}
.ex-one h1,.ex-two h1{
    font-size: 40px;
}
.ex-one{
    border-left: 8px solid;
    border-image: linear-gradient(#fd052f,#ff4618);
    border-image-slice:1 ;

}
.ex-two{
    border-left: 8px solid;
    border-image: linear-gradient(#0063b4,#18e4ff);
    border-image-slice:1 ;

}
footer p{
    text-align: center;
}